body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background:#333;
    text-align:center;
    padding:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

nav a:hover{
    color:yellow;
}

section{
    max-width:900px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

img{
    border-radius:50%;
}

footer{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:15px;
}
